@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #F2E9E4;
  font-family: "archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100%;
}


:root {
  --tamanho-header: 100px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 25px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #0B1E3F;
  transition: 0.5s;
}

.header a:hover {
  color: #FF5500;
}

.header .agora {
  font-weight: 900;
  color: #FF5500;
}

.navbar {
  width: 350px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FF5500;
}

.titulo {
  margin-right: 1px;
  width: 200px;
  height: auto;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: #F2E9E4;
  background-image: url('../assets/imgs/voleinside/background.png');
  background-size:98%;
}

.banner .container {
  justify-content: start;
  align-items: center;
  width: 800px;
  height: 100%;
  color: #0B1E3F;
}

.banner .container p {
  width: 50%;
  margin: -150px;
  padding: 3px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* SOBRE */

.social {
  width: 100%;
  padding: 40px 0;
}


.sobremim-title p {
  color: #0B1E3F;
    font-size: 45px;
  font-weight: 600;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.boxes {
  display: flex;
  border-radius: 10px;
}

.box img {
  border-radius: 10px;
  width: 360px;
  height: 420px;
  object-fit: cover;
}

.descricao {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #0B1E3F;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

.social .container .boxes {
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  flex-direction: row;
  align-items: center;
}

/* ODS */

.ods-box {
  display: flex;
  justify-content:end;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 400px;
  margin: 0 auto;
  gap: 20px;
  padding: 40px 0;
}

.ods-title p {
  text-align: center;
  color: #0B1E3F;
  font-size: 45px;
  font-weight: 600;
}

.ods-img {
  width: 350px;
}

.ods-img img {
  width: 350px;
  height: 100%;
  border-radius: 10px;
}
.ods-text span {
  font-size: 25px;
  color: #0B1E3F;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

.footer {
  height: 100px;
  color: #0B1E3F;
  display: flex;
  font-size: 15px;
  text-align: center;
}

 .footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
  text-align: end;
}

 /* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/voleinside/voleinside.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #0B1E3F;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  background-color: #F2E9E4;
}

.card h2 {
  margin: 0;
  font-size: 35px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 0;
}

.confirma {
  color: #0B1E3F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
}

.confirma a {
  text-decoration: none;
  transition: 0.5s;
  color: #0B1E3F;
  font-weight: 600;
}

.confirma a:hover {
  color: #FF5500;
}

.botao {
  cursor: pointer;
  font-family: "archivo", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  background-color: #FF5500;
  width: 350px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  transition: 0.5s;
}

.botao:hover {
  background-color: #ff7232;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #FF5500 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #F2E9E4;
  border: none;
  border-bottom: 2px solid #0B1E3F;
  margin: 0;
  color: #0B1E3F;
  border-radius: 0;
  font-size: 20px;
  text-align:center;
}

input::placeholder {
  color: #0B1E3F;
  opacity: 0.5;
  font-size: 14px;
  text-align:center;

}



.btn {
  font-family: "archivo", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* QUESTIONARIO */

.questionario {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 3%;
}

.quest-title {
  color: #0B1E3F;
  font-size: 27px;
  font-weight: 600;
}

.quest-title h2 span {
  font-weight: 800;
  color: #FF5500;
}

.quest-input {
  margin: 18px 100px; 
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quest-input span{
  color: #0B1E3F;
  font-size: 20px;
  font-weight:400 ;
}

.quest-inputs input,
.questionario select {
  background-color: #F2E9E4;
  border: none;
  border-bottom: 3px solid #0B1E3F;
  margin: 0;
  color: #0B1E3F;
  border-radius: 0;
  font-size: 20px;
  text-align:center;
}

.questionario input::placeholder {
  color: #0B1E3F;
  opacity: 0.5;
  font-size: 14px;
  text-align:center;

}

.questionario select {
  height: 36px;
  text-align: center;
  font-size: 14px;
}

.questionario button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  background-color: #FF5500;
  width: 350px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  transition: 0.5s;
}

.questionario button:hover {
  background-color: #ff7232;
}

.quest-erro {
  color: red;
  font-size: 13px;
  height: 14px;
}


/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}